{% extends '../index.html'%}
{% block title %} <title>{{ user.username }}</title> {% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block body %}
    <div class="title">
        <h1 class="title-main">Welcome {{ user.username }}</h1>
        <!-- <a id="meeting" href="https://meet.google.com/new/" target="_blanck">Start Event</a> -->
    </div>

    <div class="profile">
        <h2>Your Identification</h2>
        <table>
            <tr>
              <th>Name:</th>
              <td>{{ user.first_name }}</td>
            </tr>
            <tr>
              <th>Last Name:</th>
              <td>{{ user.last_name }}</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Creation Date:</th>
                <td>{{ user.date_joined }}</td>
            </tr>
          </table>
    </div>

    <div class="ur-events">
        <h2>Your Events</h2>
        <table>
            <tr>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Event Time</th>
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{ event.event_id }}</td>
                    <td>{{ event.event_name }}</td>
                    <td>{{ event.event_date }}</td>
                    <td>{{ event.event_time }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
