{% extends 'index.html' %}
{% block title %}<title>Delete Confirmation</title>{% endblock title %}
{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_delete.css' %}">
{% endblock styles %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <h1>Are you sure you want to delete the event "{{ events.event_name }}"?</h1>

    <button type="submit" name="button">Confirm</button>

    <a href="{% url 'event_list' %}">Cancel</a>
</form>
{% endblock body %}