{% extends '../index.html'%}
{% block title %} <title>{{ events.event_name }}</title> {% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock styles %}

{% block body %}
    <div class="title">
        <h1 class="title-main">{{ events.event_name }}</h1>
        <a id="meeting" href="https://meet.google.com/new/" target="_blanck">Start Meeting</a>
    </div>
    <div class="attendace">
        <form action="{% url 'attendance' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ current_user }}">
            <input type="hidden" name="event_id" value="{{ events.event_id }}">
            <!-- <input type="hidden" name="value" value="attend" readonly>  -->
            <button type="submit" name="attend" value="attend">
                Attend
            </button>
        </form>
    </div>
    <div class="event">
        <ul>
            <li>{{ events.event_description }}</li>
            <li>{{ events.event_date }}</li>
            <li>{{ events.event_time }}</li>
        </ul>
    </div>
{% endblock %}
