{% extends '../index.html'%}
{% block title %} <title>{{ events.event_name }}</title> {% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock styles %}

{% block body %}
    <div class="title">
        <h1 class="title-main">{{ events.event_name }}</h1>
        <div class="but_start">
            <a id="meeting" href="https://meet.google.com/new/" target="_blanck">Start Meeting</a>
        </div>
    </div>
    <div></div>
    <div class="event">
        <ul>
            <li><strong>Description: </strong>{{ events.event_description }}</li>
            <li><strong>Date: </strong>{{ events.event_date }}</li>
            <li><strong>Time: </strong>{{ events.event_time }}</li>
        </ul>
    </div>
    <div class="attendace">
        <form method="get">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ current_user }}">
            <input type="hidden" name="event_id" value="{{ events.event_id }}">
            <a id="attendance-btn" href="{% url 'attendance' events.event_id %}" type="submit">Attend</a>
        </form>
    </div>
{% endblock %}
