<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta http-equiv="refresh" content="5; url = https://www.meet.google.com/new/" /> -->
    
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/event_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"> -->

    {% block styles %}
    {% endblock %}


    {% block title %}<title id="title">Home</title> {% endblock title %}

</head>
<body>
    {% block nav %}
        <header>
            <ul>
                {% block nav-home %}<li><a class="active" href="{% url 'home' %}">Home</a></li>{% endblock %}

                {% if request.user.is_authenticated %}
                {% block nav-about %}<li><a href="{% url 'event_list' %}">Event List</a></li>{% endblock %}
                {% block nav-logout %}<li><a href="{% url 'logout' %}">Logout</a></li>{% endblock %}
                {% block nav-profile %}<li><a href="{% url 'profile' user.username %}">Profile</a></li>{% endblock %}
                
                {% else %}
                    {% block nav-login %}<li><a href="{% url 'login' %}">Sign In</li>{% endblock %}
                    {% block nav-contact %}<li><a href="{% url 'register' %}">Sign Up</a></li>{% endblock %}

                {% endif %}
                <!-- <li>{% block nav-create %}<a href="{% url 'event_create' %}">Create Event</a>{% endblock %}</li> -->
            </ul>
        </header>
    {% endblock %}
    <div class="container">
    {% block body %}
        <div class="feature">
            <di class="feature-heading">
                <h1>Welcome to Sansans To Talk</h1>
            </di>
        </div>
        {% if request.user.is_authenticated %}
            <div class="homeAuthenticated">
                <div class="homeAuthenticated-content">
                    <a id="home-btn_1" href="{% url 'event_list' %}">Event List</a>
                    <a id="home-btn_2" href="{% url 'event_create' %}">Create Event</a>
                </div>
            </div>

        {% else %}
            <div class="homeUnAuthenticated">
                <div class="homeUnAuthenticated-content"> 
                    <h3>What is Sansans To Talk</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam nostrum velit ipsum animi repellat corporis ad vitae iure earum esse praesentium, obcaecati ullam enim eius quaerat, quasi molestiae doloremque quam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident dolorem laborum sit ipsa, eos minima cupiditate culpa. Minus labore pariatur perspiciatis odio sed officiis nisi! Minima esse corrupti mollitia <quas class="lore"></quas></p>

                </div>
            </div>
        
        {% endif %}
    {% endblock %}
    </div>

</body>
</html>