<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    {% block title %}<title>NEW MAIN INDEX</title> {% endblock title %}

</head>
<body>
    {% block nav %}
        <ul id="nav">
            <li>{% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}</li>
            <li>{% block nav-about %}<a href="{% url 'event_list' %}">Event List</a>{% endblock %}</li>
            <!-- <li>{% block nav-create %}<a href="{% url 'event_create' %}">Create Event</a>{% endblock %}</li> -->
            <li>{% block nav-login %}<a href="{% url 'login' %}">Sign In</a>{% endblock %}</li>
            <li>{% block nav-contact %}<a href="{% url 'register' %}">Sign Up</a>{% endblock %}</li>
            <!-- <li>{% block nav-logout %}<a href="{% url 'logout' %}">Logout</a>{% endblock %}</li> -->
        </ul>
    {% endblock %}
    {% block body %}
    
    <h1>Welcome to Sansans To Talk</h1>

    <form action="{% url 'event_list' %}">
        <button type="submit">Events</button>
    </form>
    <form action="{% url 'event_create' %}">
        <button type="submit">Create Event</button>
    </form>

    {% endblock %}

</body>
</html>