<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    {% block body %}
        <h1>List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>OPTION</th>
                </tr>
            </thead>
            <tbody>
                {% for event in object_list %}
                <tr>
                    <td>{{ event.event_name }}</td>
                    <td>{{ event.event_subject }}</td>
                    <td>{{ event.event_description }}</td>
                    <td>{{ event.event_date }}</td>
                    <td>{{ event.event_time }}</td>
                    <td><a href="{% url 'event_update' event.event_id %}">Edit</a> <a href="{% url 'event_delete' event.event_id %}">Delete</a></td>
                </tr>
                {% endfor %}
        </table>
    {% endblock body %}
</body>
</html>